/* status.php Styles */
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

#SliderRed .slider-selection {
    background: red;
}

#SliderGreen .slider-selection {
    background: green;
}

#SliderBlue .slider-selection {
    background: blue;
}

#SliderPeriod .slider-selection {
    background: #BABABA;
}

#SliderRepeat .slider-selection {
    background: #BABABA;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}

.block1 { float: left; width: 600px; margin-left: 10px; }
.block2 { float: left; width: 600px; margin-left: 10px; }
.block3 { float: left; width: 600px; margin-left: 10px; }

.sliderBox {margin-left:10px; float: left; width: 250px; }
.buttonBox {float: left; width: 290px; margin-left:10px; }

.innerButtonBox1 {margin: 0 auto; width: 300px}
.innerButtonBox2 {margin: 0 auto; width: 202px}
.innerInputBox {width: 480px}
.horizontalSpacer { margin-top:15px;}


@media screen and (max-width: 479px) {
    .buttonBox {
        float: left;
        width: 290px;
        margin-left:10px;
        margin-top:20px;
        margin-bottom: 20px;
    }
    .block1,.block2,.buttonBox,.sliderBox {
        max-width: 600px;
        width: 100%;
        margin-left: 0;
    }
    .innerInputBox {
        max-width: 400px;
        width:100%;
    }
    .innerButtonBox1 {
        margin-top:20px;
        width: 100%;
    }
    .innerButtonBox2 {
        margin: 0;
    }
    .slider.slider-horizontal {
        margin-left: 15px;
    }
    .boxLeft {
        margin-left: 0;
    }
    .tooltip.top {
        display: none;
    }
    .panel-body {
        padding: 10px;
    }

    .table {
        border
    }
    .table th {
        background-color:#000;
        color: #fff;
        font-weight: bold;
    }
    .table td,.table th {
        float: left;
        display: block;
        width: 20%;
        height:80px;
        word-wrap: break-word;
    }
}
